* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  font-family: @df-sans;
  font-size: 16px;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 25px;
  margin: 20px auto;
  max-width: 630px;

  @media @mobile {
    padding: 20px 5px;
  }
}

.inner {
  .display-flex();

  @media @mobile {
    display: block;
  }
}

@aspect-ratio: 10/7;
@mobile-aspect-ratio: 8/7;
@legend-length: 5;

.title {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 5px;
  text-align: center;

  @media @mobile {
    font-size: 24px;
    text-align: center;
  }
}

.chatter {
  font-size: 16px;
  line-height: 21px;
  max-width: 630px;
  width: 95%;
  margin: auto;
  padding-bottom: 20px;

  @media @mobile {
    padding-bottom: 10px;
    // text-align: center;
  }
}

.aspect-ratio-outer {
  margin: auto;
  position: relative;
  .flex(3);

  @media @mobile {
    width: 100%;
    padding: 0;
  }

  .aspect-ratio-inner {
    padding-bottom: percentage(@aspect-ratio);
    position: relative;

    @media @mobile {
      padding-bottom: percentage(10/10);
    }

    // @media @mobile {
    //   padding-bottom: percentage(@mobile-aspect-ratio);
    // }
  }

  leaflet-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:not([ready]) {
      display: none;
    }
  }
}

.tabs {
  .flex(2);
  margin-left: 20px;
  position: relative;

  @media @mobile {
    padding-top: 10px;
    margin-left: 0;
  }

  .tab-container {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

    @media @mobile {
      padding-top: 5px;
      .display-flex();
      .flex-wrap(wrap);
    }
  }

  .select {
    padding-bottom: 6px;
    color: #8B261C;
    @media @mobile {
      margin: auto 2px;
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-basis: 45%;
      -ms-flex-basis: 45%;
      flex-basis: 45%;
    }
  }

  .tab {
    margin: auto;
    // max-width: 250px;
    margin: 0 2px 5px 2px;
    padding-top: 10px;
    padding-bottom: 8px;
    cursor: pointer;
    background: @df-light-gray;
    @media @mobile {
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-basis: 45%;
      -ms-flex-basis: 45%;
      flex-basis: 45%;
    }

    &:hover, &.selected {
      background: @df-charcoal;
      color: white;
    }
  }
}

.leaflet-tile-pane {
  opacity: 0.75 !important;
}

div.leaflet-popup-content{
  margin: 10px 5px;
  width: auto;
  // max-width: 350px;
  font-family: @df-sans;
}

div.leaflet-popup-content-wrapper {
  border-radius: 3px;
  // max-width: 350px;
  box-shadow: 0 1px 14px rgba(0,0,0,0.30);
  padding: 4px 15px;
}

.source {
  font-family: @df-sans;
  font-size: 11.5px;
  padding-top: 15px;
  color: #999;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;

  @media @mobile {
    position: relative;
  }

  .credit {
    font-style: normal;
    font-size: 95%;
    text-transform: uppercase;
    display: block;
  }
}

.crime {
  text-transform: uppercase;
  color: black;
  padding-bottom: 5px;
}

.label, .number {
  font-size: 13px;
}
.label {
  color: @df-dark-gray;
}
.number {
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding-right: 1px;
}

.top-info {
  padding-bottom: 6px;
}

.group {
  padding-top: 1px;
}

.time-label {
  color: @df-middle-gray;
  font-size: 11px;
  padding-bottom: 1px;
}
.bar {
  height: 14px;
  display: inline-block;
  border: 1px solid @df-light-gray;
  border-right: 1px solid @df-middle-gray;
}

.percent-label {
  // font-size: 11px;
  display: inline-block;
  padding-left: 4px;
  vertical-align: top;
  font-weight: bold;
  line-height: 16px;
}

.legend-label {
  padding-top: 20px;
  font-size: 13px;

  @media @mobile {
    display: none;
  }
}

.legend {
  padding-top: 5px;
  .display-flex;

  @media @mobile {
    display: none;
  }
}
.swatch {
  .flex(1);
  height: 10px;

  .number {
    white-space: nowrap;
    font-weight: normal;
    font-size: 12px;
    padding-top: 14px;
    font-weight: bold;

    &.center {
      padding-left: calc(100% - 13px);
    }
  }
}

.note {
  font-size: 12px;
  font-style: italic;
  color: @df-dark-gray;
  padding-top: 25px;

  @media @mobile {
    display: none;
  }
}
.note-swatch {
  margin-top: 8px;
  height: 8px;
  width: 10px;
  background: #333;
  display: inline-block;
  margin-right: 2px;
}

.mobile.legend-label, {
  display: none;
  padding-top: 0;
  font-weight: bold;

  @media @mobile {
    display: block;
  }
}

.mobile.note {
  display: none;
  padding-bottom: 10px;
  padding-top: 0;

  @media @mobile {
    display: block;
  }
}

.mobile.legend {
  display: none;
  padding-bottom: 30px;

  @media @mobile {
    .display-flex();
  }
}
