<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child class="map">
      <div class="outmost">

        <div class="title">Lorem ipsum</div>
        <div class="chatter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu velit iaculis, tempor est vel, ultricies ex. Vivamus euismod tortor mollis blandit laoreet.</div>

        <div class="mobile legend-label">Average response time in minutes:</div>
        <div class="mobile legend">
          <div class="swatch" style="background: #164655">
            <div class="number">< 2</div>
          </div>
          <div class="swatch" style="background: #176878"></div>
          <div class="swatch" style="background: #4E8B92"></div>
          <div class="swatch" style="background: #7DB9B3"></div>
          <div class="swatch" style="background: #C4E7E6"></div>
          <div class="swatch" style="background: #E3F3F2">
            <div class="number center">7</div>
          </div>
          <div class="swatch" style="background: #FFF0C5">
          </div>
          <div class="swatch" style="background: #FFD296"></div>
          <div class="swatch" style="background: #FBAF41"></div>
          <div class="swatch" style="background: #DD703A"></div>
          <div class="swatch" style="background: #D74A28"></div>
          <div class="swatch" style="background: #8B261C">
            <div class="number">> 12</div>
          </div>
        </div>
        <div class="mobile note"><span class="note-swatch"></span> Fewer than 10 incidents</div>

        <div class="inner">
          <div class="aspect-ratio-outer">
            <div class="aspect-ratio-inner">
              <leaflet-map lat="47.615" lng="-122.34" zoom=11>
                <tile-layer layer="esriDarkGray"></tile-layer>
              </leaflet-map>
            </div>
          </div>

          <div class="tabs">

            <div class="tab-container">
              <div class="select">Select a category:</div>
              <div class="tab selected" data-crime="TOTAL">All Priority-One reports</div>
              <div class="tab" data-crime="BURGR1">Residential burglary</div>
              <div class="tab" data-crime="SHOTS1">Gunshots reported</div>
              <div class="tab" data-crime="OD1">Drug overdose</div>
              <div class="tab" data-crime="SUIC1">Suicidal person</div>
              <div class="tab" data-crime="ASLTV1">Domestic violence</div>
              <div class="tab" data-crime="MISSC1">Missing child</div>
            </div>

            <div class="legend-label">Average response time in minutes:</div>
            <div class="legend">
              <div class="swatch" style="background: #164655">
                <div class="number">< 2</div>
              </div>
              <div class="swatch" style="background: #176878"></div>
              <div class="swatch" style="background: #4E8B92"></div>
              <div class="swatch" style="background: #7DB9B3"></div>
              <div class="swatch" style="background: #C4E7E6"></div>
              <div class="swatch" style="background: #E3F3F2">
                <div class="number center">7</div>
              </div>
              <div class="swatch" style="background: #FFF0C5">
              </div>
              <div class="swatch" style="background: #FFD296"></div>
              <div class="swatch" style="background: #FBAF41"></div>
              <div class="swatch" style="background: #DD703A"></div>
              <div class="swatch" style="background: #D74A28"></div>
              <div class="swatch" style="background: #8B261C">
                <div class="number">> 12</div>
              </div>
            </div>
                        
            <div class="note"><span class="note-swatch"></span> Fewer than 10 incidents</div>

            <div class="source">
              <em>Source: Seattle Police Department</em>
              <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>
            </div>
          </div>
        </div>
      </div>
    </responsive-child>

    <script>
      <%
        var data = {};
        csv.breakdown.forEach(function(row) {
          data[row.Row] = row;
        });
      %>
      var breakdownData = <%= JSON.stringify(data) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
